<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">My Cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <app-empty-screen [model]="model"></app-empty-screen> -->
  <ion-item lines="none">
    <ion-label>Items</ion-label>
    <ion-chip color="primary">
      <ion-label>Clear cart</ion-label>
    </ion-chip>
  </ion-item>
  <ion-item class="cartItem">
    <ion-thumbnail slot="start">
      <img src="assets/imgs/1.jpg" />
    </ion-thumbnail>
    <ion-label>
      <h4>Voilet flower</h4>
      <ion-text color="medium">
        <p class="pStyle">100 grams</p>
      </ion-text>
      <span>
        <h4>RS.100</h4>
      </span>
    </ion-label>
    <ion-button color="success" shape="round" class="ion-margin-horizontal">
      <ion-icon
        slot="start"
        name="add-outline"
        style="margin-left: 5px"
      ></ion-icon>
      <ion-text color="light" class="ion-margin-horizontal"> 1 </ion-text>
      <ion-icon
        slot="end"
        name="remove-outline"
        style="margin-right: 5px"
      ></ion-icon>
    </ion-button>
  </ion-item>
</ion-content>
