ion-thumbnail {
  margin-left: 125px;
  margin-top: 10px;
  height: 100px;
  width: 101px;
  img {
    border-radius: 25px;
  }
}

ion-list-header {
  color: cornflowerblue;
}

ion-title {
  margin-left: 50px;
}
