<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center" style="font-family: cursive"
      >Flower Shop</ion-title
    >
    <ion-icon
      slot="end"
      name="cart"
      size="large"
      class="ion-margin-horizontal"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bannerSlide">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let item of banner">
        <div [ngStyle]="{'background-image':'url(' + item.banner + ')'}"></div>
      </ion-slide>
    </ion-slides>
  </div>
  <ion-row>
    <ion-col sizeXs="6">
      <ion-chip color="success">
        <ion-label>Shop by categories</ion-label>
      </ion-chip>
    </ion-col>
    <ion-col sizeXs="6" style="text-align: end">
      <ion-chip color="success">
        <ion-label>View All</ion-label>
      </ion-chip>
    </ion-col>
  </ion-row>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col sizeXs="12" sizeLg="10">
        <div>
          <ion-slides pager="false" [options]="cardOpts">
            <ion-slide *ngFor="let category of categories">
              <app-categories [category]="category"></app-categories>
            </ion-slide>
          </ion-slides>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-row>
    <ion-col sizeXs="6">
      <ion-chip color="success">
        <ion-label>Products</ion-label>
      </ion-chip>
    </ion-col>
    <ion-col sizeXs="6" style="text-align: end">
      <ion-chip color="success" [routerLink]="['/', 'products']">
        <ion-label>View All</ion-label>
      </ion-chip>
    </ion-col>
  </ion-row>

  <ion-grid>
    <ion-row>
      <ion-col
        sizeXs="6"
        sizeMd="4"
        sizeLg="2"
        sizeSm="3"
        *ngFor="let product of products "
      >
        <app-products [product]="product"></app-products>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
