ion-header {
  ion-icon {
    font-size: 1rem;
  }
}
.bannerSlide {
  padding-top: 20px;
  padding-bottom: 10px;
  ion-slides {
    --bullet-background: black;
    height: 20vh;
    div {
      height: 20vh;
      width: 94%;
      margin: auto;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 5px;
    }
  }
}
.cards {
  ion-card {
    height: 80px;
    width: 80px;
  }
}

.pName {
  margin-left: 9px;
  color: black;
}

.pQuantity {
  padding-right: 7px;
  margin-top: -32px;
  font-size: 11px;
  color: black;
}

.pPrice {
  margin-top: 4px;
  margin-left: 9px;
  font-weight: bold;
  color: rgb(53, 241, 163);
  font-size: 16px;
}

img {
  height: 100px;
  width: -moz-available;
}
