// sets

$gl-ms: "screen and (max-width: 23.5em)"; // up to 360px
$gl-xs: "screen and (max-width: 35.5em)"; // up to 568px
$gl-sm: "screen and (max-width: 48em)"; // max 768px
$gl-md: "screen and (max-width: 64em)"; // max 1024px
$gl-lg: "screen and (max-width: 80em)"; // max 1280px

@media #{$gl-lg} {
  .bannerSlide {
    padding-top: 20px;
    padding-bottom: 10px;
    ion-slides {
      --bullet-background: black;
      height: 20vh;
      div {
        height: 20vh;
        width: 94%;
        margin: auto;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 5px;
      }
    }
  }
}

@media #{$gl-xs} {
  .bannerSlide {
    padding-top: 20px;
    padding-bottom: 10px;
    ion-slides {
      --bullet-background: black;
      height: 20vh;
      div {
        height: 20vh;
        width: 94%;
        margin: auto;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 5px;
      }
    }
  }
}

ion-header {
  ion-icon {
    font-size: 1rem;
  }
}

.pName {
  margin-left: 9px;
  color: black;
}

.pQuantity {
  padding-right: 7px;
  margin-top: -32px;
  font-size: 11px;
  color: black;
}

.pPrice {
  margin-top: 4px;
  margin-left: 9px;
  font-weight: bold;
  color: rgb(53, 241, 163);
  font-size: 16px;
}
