img {
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  height: 270px;

  object-fit: cover;
  width: 100%;
}

#backButton {
  position: fixed;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  top: 5px;
  background-color: #d7d8da;
  color: #000000;
  outline: none;
  left: -8px;
  cursor: pointer;
}
