<ion-content>
  <div>
    <ion-icon
      style="z-index: 100"
      class="ion-margin-horizontal"
      name="arrow-back"
      id="backButton"
      [routerLink]="['/', 'tabs','home']"
      routerLinkActive="active"
      routerDirection="root"
    ></ion-icon>
  </div>
  <div *ngFor="let data of data">
    <ion-slides pager="true">
      <ion-slide>
        <img [src]="data.image" alt="pic" />
      </ion-slide>
    </ion-slides>
    <ion-list lines="none" class="ion-no-margin">
      <ion-list-header>
        <ion-label
          ><h1><b>{{data.name}}</b></h1></ion-label
        >
        <ion-chip color="success" mode="ios">
          <ion-label>{{data.category}}</ion-label>
        </ion-chip>
      </ion-list-header>

      <ion-item style="margin-top: -6px">
        <p>{{data.desc}}</p>
      </ion-item>
      <ion-item style="margin-top: -16px">
        <h2 class="ion-no-margin"><b>RS.{{data.price}}</b></h2>
      </ion-item>
    </ion-list>
    <ion-button
      *ngIf="isLoading"
      color="success"
      shape="round"
      class="ion-margin-horizontal"
      (click)="onAdd()"
    >
      Add <ion-icon slot="start" name="cart"></ion-icon
    ></ion-button>
    <ion-button
      *ngIf="!isLoading"
      color="success"
      shape="round"
      class="ion-margin-horizontal"
    >
      <ion-icon slot="start" name="remove-outline"></ion-icon>
      <ion-text color="light" class="ion-margin-horizontal"> 1 </ion-text>
      <ion-icon slot="end" name="add-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="dark">
    <ion-item color="dark">
      <ion-label>Item added to cart</ion-label>
      <ion-button
        expand="block"
        shape="round"
        color="warning"
        style="text-transform: none"
        [routerLink]="['/', 'tabs','cart']"
      >
        View Cart
        <ion-icon slot="end" color="dark" name="cart"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>
