<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngFor="let data of data; let i = index">
    <ion-row class="ion-justify-content-center">
      <ion-col sizeXs="12" sizeMd="4" sizeLg="5">
        <div>
          <img [src]="data.image" alt="" />
        </div>

        <ion-list lines="none" class="ion-no-margin">
          <ion-list-header>
            <ion-label
              ><h1><b>{{data.name}}</b></h1></ion-label
            >
            <ion-chip color="success" mode="ios">
              <ion-label>{{data.category}}</ion-label>
            </ion-chip>
          </ion-list-header>

          <ion-item style="margin-top: -6px">
            <p>{{data.desc}}</p>
          </ion-item>
          <ion-item style="margin-top: -16px">
            <h2 class="ion-no-margin"><b>RS.{{data.price}}</b></h2>
          </ion-item>
        </ion-list>
        <ion-button
          *ngIf="isLoading"
          color="success"
          shape="round"
          class="ion-margin-horizontal"
          (click)="onAdd()"
        >
          Add <ion-icon slot="start" name="cart"></ion-icon
        ></ion-button>
        <ion-buttons
          *ngIf="!isLoading && count > 0"
          shape="round"
          class="ion-margin-horizontal"
          size="small"
        >
          <ion-button
            fill="outline"
            color="dark"
            class="ion-text-center"
            (click)="quantityMinus( data, i)"
          >
            <ion-icon name="remove-outline" color="danger"></ion-icon>
          </ion-button>
          <ion-button fill="outline" color="dark">
            <ion-text color="dark" class="ion-margin-horizontal">
              {{count}}
            </ion-text>
          </ion-button>
          <ion-button
            fill="outline"
            color="dark"
            (click)="quantityPlus(data, i)"
          >
            <ion-icon name="add-outline" color="success"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="dark">
    <ion-item color="dark">
      <ion-label>Item added to cart</ion-label>
      <ion-button
        expand="block"
        shape="round"
        color="warning"
        style="text-transform: none"
        [routerLink]="['/', 'tabs','cart']"
      >
        View Cart
        <ion-icon slot="end" color="dark" name="cart"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-footer>
