<ion-header>
  <ion-toolbar>
    <ion-searchbar
      placeholder="Search"
      animated="true"
      #searchInput
      debounce="500"
      (ionChange)="onSearchChange($event)"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-empty-screen
    *ngIf="query.length == 0"
    [model]="model"
  ></app-empty-screen>
  <ion-list lines="none" *ngIf="query.length > 0 && products.length == 0">
    <ion-item> <h5>No search results for "{{query}}"</h5> </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let product of products">
        <app-products
          [product]="product"
          [routerLink]="['/', 'item-page', product.id]"
        ></app-products>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
