<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <span>Home</span>
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-title>
    <ion-icon
      slot="end"
      name="cart"
      size="large"
      class="ion-margin-horizontal"
    ></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bannerSlide">
    <ion-slides pager="true" [options]="slideOpts">
      <ion-slide *ngFor="let item of banner">
        <div [ngStyle]="{'background-image':'url(' + item.banner + ')'}"></div>
      </ion-slide>
    </ion-slides>
  </div>
  <ion-chip color="success">
    <ion-label>Categories</ion-label>
  </ion-chip>

  <div class="cards">
    <ion-slides pager="false" [options]="cardOpts">
      <ion-slide>
        <div>
          <ion-card>
            <ion-card-content> Awesome content </ion-card-content>
          </ion-card>
          <ion-text color="dark">
            <p>Category 1</p>
          </ion-text>
        </div>
      </ion-slide>
      <ion-slide>
        <div>
          <ion-card>
            <ion-card-content> Awesome content </ion-card-content>
          </ion-card>
          <ion-text color="dark">
            <p>Category 1</p>
          </ion-text>
        </div>
      </ion-slide>
      <ion-slide>
        <div>
          <ion-card>
            <ion-card-content> Awesome content </ion-card-content>
          </ion-card>
          <ion-text color="dark">
            <p>Category 1</p>
          </ion-text>
        </div>
      </ion-slide>
      <ion-slide>
        <div>
          <ion-card>
            <ion-card-content> Awesome content </ion-card-content>
          </ion-card>
          <ion-text color="dark">
            <p>Category 1</p>
          </ion-text>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
  <ion-chip color="success" style="padding-top: 40px">
    <ion-label>Products</ion-label>
  </ion-chip>
</ion-content>
