<ion-app>
  <ion-split-pane contentId="main-content" [when]="false">
    <ion-menu
      contentId="main-content"
      menuId="mainMenu"
      type="overlay"
      side="start"
    >
      <ion-header>
        <ion-toolbar color="dark">
          <ion-avatar class="ion-text-center ion-margin-top">
            <img
              src="assets/imgs/1.jpg"
              alt=""
              style="height: 60px; width: auto"
            />
          </ion-avatar>
          <ion-text color="light" class="ion-text-center">
            <h2>Flower Shop</h2>
          </ion-text>
        </ion-toolbar>
      </ion-header>
      <ion-content color="dark">
        <ion-menu-toggle auto-hide="false" color="dark">
          <ion-item
            color="dark"
            lines="none"
            [routerLink]="['/', 'tabs', 'home']"
          >
            <ion-icon slot="start" name="storefront-outline"></ion-icon>
            <ion-label>Store</ion-label>
          </ion-item>
          <ion-item color="dark" lines="none" [routerLink]="['/', 'products']">
            <ion-icon slot="start" name="flower-outline"></ion-icon>
            <ion-label>Products</ion-label>
          </ion-item>
          <ion-item
            color="dark"
            lines="none"
            [routerLink]="['/', 'categories']"
          >
            <ion-icon slot="start" name="grid-outline"></ion-icon>
            <ion-label>All Categories</ion-label>
          </ion-item>
          <ion-item color="dark" lines="none" [routerLink]="['/', 'orders']">
            <ion-icon slot="start" name="time-outline"></ion-icon>
            <ion-label>My Orders</ion-label>
          </ion-item>
          <ion-item
            color="dark"
            lines="none"
            [routerLink]="['/', 'tabs', 'profile']"
          >
            <ion-icon slot="start" name="person-outline"></ion-icon>
            <ion-label>Profile</ion-label>
          </ion-item>

          <ion-item color="dark" lines="none" [routerLink]="['/', 'logout']">
            <ion-icon slot="start" name="log-out-outline"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-content" main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
