<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center"><b>Products</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-col sizeXs="12" sizeMd="4" sizeLg="10" sizeSm="3">
      <ion-slides pager="false" [options]="slideOpts" class="ion-margin-top">
        <ion-slide *ngFor="let category of categories">
          <ion-button
            fill="outline"
            color="success"
            style="text-transform: none"
            (click)="filterCategory(category)"
          >
            {{category.title}}
          </ion-button>
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col
      sizeXs="6"
      sizeMd="4"
      sizeLg="2"
      sizeSm="3"
      *ngFor="let product of products"
    >
      <app-products
        [product]="product"
        [routerLink]="['/', 'products', product.id]"
      >
      </app-products>
    </ion-col>
  </ion-row>
</ion-content>
